@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

.bg-home{
  @apply w-screen h-screen bg-[url('/src/assets/img/bg.jpg')] bg-cover bg-no-repeat
}


.menu-container{
@apply text-white absolute top-12 right-7 w-36 h-2/5 rounded-3xl bg-gradient-to-tr from-slate-900 to-slate-200 z-20
}

.menu-item{
  @apply hover:text-lightgreen font-semibold
}

.refresh-menu-item{
  @apply refresh
}

.photo-animation{
  box-shadow: 0 0 0 1px #6ef6e5;
  animation: border-animation 1.8s infinite linear
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
  :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

@keyframes border-animation {
  0% {
    box-shadow: 0 0 0 1px #6ef6e5;
  }

  50% {
    box-shadow: 0 0 0 5px #6ef6e5;
  }

  100% {
    box-shadow: 0 0 0 1px #6ef6e5;
  }
}

.project-card__body {
  background: linear-gradient(#111111, #111111) padding-box,
              linear-gradient(145deg, transparent 35%,#171717, #6ef6e5) border-box;
  border: 2px solid transparent;
  transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.project-card__body:hover {
  rotate: 8deg;
}

.footer,
.project-details__technologies,
.project-details__improobe,
.project-details__description {
  background-color: #171717;
  border-radius: 20px;
}